<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <button data-toggle="collapse" class="bg-primary" (click)="afficherSideBar()"
      ><i class="fa fa-bars" aria-hidden="true"></i
    ></button>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarID"
      aria-controls="navbarID"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarID">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="">Home</a>
      </div>
    </div>
  </div>
</nav>
